@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8f8fa;
}

#snakeboard {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    text-align: center;
    font-size: 140px;
    margin-bottom: 35px;
}

.restartButton {
    position: absolute;
    top: 40%;
    left: 5.5%;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;

    cursor: pointer;
}

#high_score {
    text-align: center;
    font-size: 32pt;

    position: absolute;
    top: 55%;
    right: 13%;
}