@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8f8fa;
}

#snakeboard {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#score {
    text-align: center;
    font-size: 140px;
}

.restartButton {
    justify-content: center;
}

#r_btn {
    position: absolute;
    top: 55%;
    left: 13%;
}