body {
    background-color: rgb(246, 240, 240);
}

.settings {
    text-align: center;
    font-size: 3.5rem;
}

h3 {
    text-align: center;
}

.color {
    text-align: center;
}

.view {
    background-color: white;
    transition-duration: 2s;
    display: grid;
    border: 0.3mm solid black;
    border-radius: 15px;
    margin-bottom: 35px;
    /*text-align: center;*/

    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    grid-column-gap: 45px;
}

#view_color1 {
    width: 300px;
    height: 300px;
    margin: 35px 0;
}

#view_color2 {
    width: 300px;
    height: 300px;
    margin: 35px 0;
}

#view_color3 {
    width: 300px;
    height: 300px;
    margin: 35px 0;
}

#view_color4 {
    width: 300px;
    height: 300px;
    margin: 35px 0;
}

.start {
    text-align: center;
}