body {
    background-color: rgb(246, 240, 240);
}

.settings {
    text-align: center;
    font-size: 3.5rem;
}

h3 {
    text-align: center;
}

.color {
    text-align: center;
}

.c_grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.c_grid_item {
    margin-left: 27%;
}

.view {
    background-color: white;
    transition-duration: 2s;
    display: grid;
    border: 0.3mm solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;

    grid-template-columns: 1fr 1fr;
}

#view_color {
    transition-duration: 2s;
    width: 300px;
    height: 300px;
    margin: 30px 30%;
}

#view_color:hover {
    transform: scale(1.1, 1.1);
}

.description {

}

.start {
    text-align: center;
}